<!DOCTYPE html>
<html lang="en,cn">
<head>
    <meta charset="UTF-8">
    <title>觅马出行车辆日志</title>

    <link rel="apple-touch-icon" sizes="57x57" href="http://www.mimadd.com/logo57.png" />

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/angular/angular.js"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--需要遵守react的目录结构，日了狗-->
    <link rel="stylesheet" href="/css/semantic.min.css">
    <script src="/js/semantic.min.js"></script>

    <link rel="stylesheet" href="/css/flatpickr.min.css">
    <script src="/js/flatpickr.min.js"></script>

    <script src="/js/toastr.min.js"></script>
    <link rel="text/html" href="/js/toastr.min.css">
    <!--end-->

    <!--网站内部js-->
    <script src="/static/js/allBikes.js"></script>
</head>
<body ng-app="allBikesApp" ng-controller="allBikesCtrl" style="margin-top: 1.5%">

    <div>
        <h2 class="ui small center aligned icon header">
            <i class="bicycle icon"></i>
            查看车辆列表，需要先登录觅马运维帐号
        </h2>
    </div>

    <!--运维人员登录-->
    <div style="margin-left: 3%" class="ui horizontal list">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="运维帐号" ng-model="mimaYunweiAccount">
            </div>
        </div>
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="运维密码" ng-model="mimaYunweiMima">
            </div>
        </div>
        <div class="item">
            <div class="ui primary button" ng-click="yunweiLogin()">
                登录
            </div>
        </div>
        <div class="item" ng-show="mimaYunweiLoginInfo != undefined">
            <div class="ui visible message">
                <p>{{mimaYunweiLoginInfo}}</p>
            </div>
        </div>
    </div>

    <div class="ui horizontal divider">
        我很白，我是一个分割线
    </div>

    <div style="margin-left: 3%" class="ui horizontal list">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="输入正确车辆号" ng-model="inputBikeNo">
            </div>
        </div>
        <div class="item">
            <button class="ui blue submit button" ng-disabled="inputBikeNo.length >= 10" ng-click="getInputEBikeLog()">查看车辆日志</button>
        </div>

        <button class="ui primary basic button" ng-click="openButton()" style="margin-left: 50px">
            查看数据
        </button>

    </div>

    <div class="ui horizontal divider">
        下面是车辆列表
    </div>

    <!--所有运维区域-->
    <div class="ui secondary pointing menu">
        <a ng-repeat="areaInfo in allMimaAreas" ng-click="seeAllBikeInSelectedArea($index, areaInfo.PartnerAreaGuid)"
           ng-class="{true:'active item',false:'item'}[selecetedAreaIndex == $index]" >
            {{areaInfo.PartnerAreaName}}
        </a>

        <div class="right menu">
            <a class="ui item">
                区域被吴过滤过
            </a>
        </div>
    </div>

    <!--某个运维区域内所有车辆-->
    <table class="ui celled table">
        <thead>
        <tr>
            <th>序号</th>
            <th>车辆号</th>
            <th>SN号</th>
            <th>蓝牙号</th>
            <th>录入者</th>
            <th>录入时间</th>
            <th>查看日志</th>
            <th>车辆在线检测</th>
            <th>车辆参数查看</th>
            <th>设置车辆参数</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="eListBikeInfo in selectedAreaEBikes">
            <td>{{$index + 1}}</td>
            <td>{{eListBikeInfo.BicycleNo}}</td>
            <td>{{eListBikeInfo.ControllerNo}}</td>
            <td>{{eListBikeInfo.ControllerBluetoothNo}}</td>
            <td>{{eListBikeInfo.Operator}}</td>
            <td>{{eListBikeInfo.Batch}}</td>
            <td>
                <button class="ui blue submit button" ng-click="getAEBikeLog(eListBikeInfo.BicycleNo)">日志</button>
            </td>

            <td>
                <button class="ui blue submit button" ng-click="bikeOnlineDetection(eListBikeInfo)">检测</button>
                <div class="ui pointing green basic label">
                    {{eListBikeInfo.bikeEState}}
                </div>
            </td>

            <td>
                <div ng-class="{true:'ui action input small loading',false:'ui action small input'}[eListBikeInfo.isGetting == true]">
                    <input type="text" ng-model="eListBikeInfo.gettingParam" placeholder="输入终端参数"  ng-disabled="eListBikeInfo.isGetting">
                    <button class="ui button" ng-click="getBikeParamValue(eListBikeInfo)" ng-disabled="eListBikeInfo.isGetting">查看</button>
                </div>
                <div class="ui pointing red basic label">
                    {{eListBikeInfo.paramValue == undefined ? '参数值在这里展示哦'  : eListBikeInfo.paramValue}}
                </div>
            </td>

            <td>
                <div ng-class="{true:'ui action input small loading',false:'ui action small input'}[eListBikeInfo.isSetting == true]">
                    <input type="text" ng-model="eListBikeInfo.settingParam" placeholder="输入终端参数" ng-disabled="eListBikeInfo.isSetting">
                    <input type="text" ng-model="eListBikeInfo.settingValue" placeholder="输入参数值" ng-disabled="eListBikeInfo.isSetting">
                    <button class="ui button" ng-click="setBikeParamValue(eListBikeInfo)" ng-disabled="eListBikeInfo.isSetting">设置</button>
                </div>
                <div class="ui pointing red basic label">
                    {{eListBikeInfo.setParamResponse == undefined  ? '设置结果在这里展示哦'  : eListBikeInfo.setParamResponse}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="ui active dimmer" ng-show="netRequestState == 'start'">
        <div class="ui medium text loader">Loading</div>
    </div>

</body>
</html>