<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>觅马出行产品</title>

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/bower-angularjs/angular.js"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/semantic.min.css">
    <script src="/js/semantic.min.js"></script>

</head>
<body>

    <div class="ui link cards">
        <div class="card" href="www.baidu.com">
            <div class="image">
                <img src="https://cdn.dribbble.com/users/458522/screenshots/3659168/fire_girl_d_teaser.jpg">
            </div>
            <div class="content">
                <div class="header">觅马出行App</div>
                <div class="meta">
                    <a>V1.2.1</a>
                </div>
                <div class="description">
                    更新首页活动需求，M1车型脚撑，首次用车
                </div>
            </div>
            <div class="extra content">
          <span class="right floated">
            And Run
          </span>
                <span>
            <i class="user icon"></i>
            Unlock
          </span>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://cdn.dribbble.com/users/19849/screenshots/3658773/black-puma_teaser.gif">
            </div>
            <div class="content">
                <div class="header">觅马出行运维App</div>
                <div class="meta">
                    <span class="date">V1.0</span>
                </div>
                <div class="description">
                    重构版本，开发中
                </div>
            </div>
            <div class="extra content">
          <span class="right floated">
            Do IT
          </span>
                <span>
            <i class="user icon"></i>
            Just
          </span>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://cdn.dribbble.com/users/237483/screenshots/3659179/cutting-block_teaser.png">
            </div>
            <div class="content">
                <div class="header">觅马出行城市合伙人Web</div>
                <div class="meta">
                    <a>V1.1</a>
                </div>
                <div class="description">
                    根据实际体验迭代优化中
                </div>
            </div>
            <div class="extra content">
          <span class="right floated">
            For Money
          </span>
                <span>
            <i class="user icon"></i>
            Just
          </span>
            </div>
        </div>
    </div>

</body>
</html>