<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新车辆SN号</title>

    <link rel="icon" href="../images/mimacxIco.ico" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/angular/angular.js"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/semantic.min.css">
    <script src="/js/semantic.min.js"></script>
    
    <script src="/js/toastr.min.js"></script>
    <link rel="text/html" href="/js/toastr.min.css">

    <link rel='stylesheet' type="text/css" href="../stylesheets/reEntryBikeSn.css">

    <!--网站内部js-->

    <script src="../js/reEntryBikeSn.js"></script>
    <script src="../js/EncryPtion.js"></script>


</head>
<body ng-app="reEntryBikeSnApp" ng-controller="reEntryBikeSnCtrl">

    <div class="container">
        <h1 class="ui small center aligned header" style="margin-top: 20px;font-size: 24px">
            <i class="circular doctor icon"></i>
            更改车辆SN号
        </h1>
    </div>

    <div class="alert alert-success" role="alert" style="margin-top: 10px;">
        <div class="alert-link" style="text-align: center">请先登录运维人员账号</div>
    </div>

    <div class="form-inline" ng-hide="mimaYunweiLoginInfo != undefined">
        <div class="form-group">
            <label >账号：</label>
            <input type="text" class="form-control" placeholder="输入运维账号" ng-model="mimaYunweiAccount">
        </div>
        <div class="form-group">
            <label >密码：</label>
            <input type="text" class="form-control" placeholder="输入运维密码" ng-model="yunWeiPassWord">
        </div>
        <button type="submit" class="btn btn-default" ng-click="yunWeiLogin()">登录</button>

        <span class="label label-default" ng-show="mimaYunweiLoginInfo != undefined">{{mimaYunweiLoginInfo}}</span>
    </div>

    <div class="alert alert-warning alert-dismissible" role="alert" ng-show="yunweiAccountSession != undefined">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>恭喜你，小伙子</strong>
        登录成功了。运维人员：{{ mimaYunweiLoginInfo }}
    </div>


    <div class="ui horizontal divider">
        我是一个分割线
    </div>

    <div class="alert alert-info" role="alert" style="text-align: center">更新SN号，请输入正确车辆号和SN号</div>

    <div class="form-inline" style="margin-bottom: 20px">
        <div class="form-group">
            <label >车辆号：</label>
            <input type="text" class="form-control" placeholder="输入正确车辆号" ng-model="bikeNumber">
        </div>
        <div class="form-group">
            <label >车辆SN号：</label>
            <input type="text" class="form-control" placeholder="输入密码" ng-model="bikeSnNumber">
        </div>
        <button type="submit" class="btn btn-default" ng-click="reEntryBike()">修改</button>

        <a class="ui teal tag label" ng-show="reEntryBikeInfo != undefined">{{reEntryBikeInfo}}</a>
    </div>

    <div class="progress">
        <div ng-class="['Bar',vm.style]" ng-style="{width:vm.progress+'%'}">
            <div ng-if='vm.text'>{{vm.progress}}%</div>
        </div>
    </div>
    </br>

    <div class="ui horizontal divider">
        我是超人
    </div>

</body>

</html>
