<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地图</title>

    <!-- 引入 AngularJS Mini 文件 -->
    <script src="/angular/angular.js"></script>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.0&key=7f0f555c0a02428470cc6e884ce415b4"></script>

    <!--需要遵守react的目录结构，日了狗-->
    <link rel="stylesheet" href="/css/semantic.min.css">
    <script src="/js/semantic.min.js"></script>

    <link rel="stylesheet" href="/css/flatpickr.min.css">
    <script src="/js/flatpickr.min.js"></script>

    <script src="/js/toastr.min.js"></script>
    <link rel="text/html" href="/js/toastr.min.css">
    <!--end-->

    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>

    <!--网站内部js-->
    <!--<script src="/static/js/allBikes.js"></script>-->
    <script src="/static/js/unLockVehicle.js"></script>
</head>
<body ng-app="unLockVehicleApp" ng-controller="unLockVehicleCtrl">
<div id='container' style="width: 100%;height: 100%">

</div>
</body>
</html>